/* body {
    cursor: url("../media/favicon_io/favicon.ico"), auto;
    
} */

/* .cursor {
    cursor: url('../media/favicon_io/favicon.ico'), auto;
  } */

  .cursor {
    cursor: url('../media/favicon_io/favicon.ico'), url('../media/soccer-ball-variant.png'), auto;
  }


/* 
  .cursor {
    cursor: url('favicon_io/favicon.ico'), url('backup_cursor.png'), auto;
  } */